/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
html {
  font-size: 62.5%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: column;
  background: #A8D0E6;
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}
body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column;
  width: 100%;
  min-height: 100vh;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Fredoka One', cursive;
  color: white;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 15px;
}
h4 {
  font-size: 2.5rem;
}
a {
  font-size: 1.6rem;
  font-weight: bold;
  color: black;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
}
.middle {
  margin: 20px;
  padding: 20px;
  width: 90%;
  max-width: 800px;
  border-radius: 10px;
  background: #dcecf5;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column;
  background: #374785;
  width: 100%;
  border-bottom: 1px solid grey;
}
header h1 {
  padding: 10px;
}
header p {
  color: white;
  padding-bottom: 10px;
}
header nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 40px;
  background: #24305E;
  position: sticky;
}
@media (max-width: 600px) {
  header nav {
    justify-content: space-around;
    flex-flow: column;
    height: 220px;
  }
}
header nav .navContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  max-width: 800px;
}
@media (max-width: 600px) {
  header nav .navContainer {
    justify-content: space-evenly;
    flex-flow: column;
    height: 220px;
  }
}
header nav .navContainer .standardNav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
}
@media (max-width: 600px) {
  header nav .navContainer .standardNav {
    width: 100%;
  }
}
header nav .navContainer .standardNav a {
  min-width: 60px;
}
header nav .navContainer .standardNav a:hover {
  text-decoration: underline;
}
header nav .navContainer .buttonBox {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 30%;
  min-width: 200px;
}
@media (max-width: 600px) {
  header nav .navContainer .buttonBox {
    justify-content: space-between;
    flex-flow: column;
    height: 120px;
    width: 100%;
  }
}
header nav .navContainer .buttonBox .buttonA {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: column;
  background: #f76C6C;
  color: white;
  width: 80px;
  font-size: 1.6rem;
  padding: 8px 0px;
  border-radius: 8px;
}
header nav .navContainer .buttonBox .buttonA:hover {
  background: #fa9c9c;
}
@media (max-width: 600px) {
  header nav .navContainer .buttonBox .buttonA {
    width: 90%;
    height: 50px;
    font-size: 2.3rem;
  }
}
header nav .navContainer a {
  color: darkgrey;
}
header nav .navContainer a:hover {
  color: white;
}
footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 90px;
  width: 100vw;
  border-top: 1px solid grey;
  background-color: #24305E;
}
footer .bottomNav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: column;
  width: 100vw;
  max-width: 800px;
  height: 80px;
}
footer .bottomNav p {
  color: white;
}
footer .bottomNav .standardNav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
footer .bottomNav .standardNav a {
  color: darkgrey;
}
footer .bottomNav .standardNav a:hover {
  color: white;
  text-decoration: underline;
}
.middle h2 {
  color: #374785;
  text-align: center;
}
.middle img {
  width: 100%;
  border-radius: 10px;
  padding-bottom: 20px;
}
.middle p {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid grey;
}
.middle .pButton {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: column;
  background: #f76C6C;
  color: white;
  width: 80px;
  font-size: 1.6rem;
  padding: 8px 0px;
  border-radius: 8px;
  margin-left: 25%;
  width: 50%;
  height: 50px;
  font-size: 2.3rem;
}
.middle .pButton:hover {
  background: #fa9c9c;
}
@media (max-width: 600px) {
  .middle .pButton {
    width: 100%;
    margin-left: 0%;
  }
}
.aboutWho {
  margin: 20px;
  padding: 20px;
  width: 90%;
  max-width: 800px;
  border-radius: 10px;
  background: #dcecf5;
}
.aboutWho h2 {
  color: #374785;
  text-align: center;
}
.aboutWho img {
  width: 100%;
  border-radius: 10px;
  padding-bottom: 20px;
}
.aboutWho p {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid grey;
}
.aboutWho .pButton {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: column;
  background: #f76C6C;
  color: white;
  width: 80px;
  font-size: 1.6rem;
  padding: 8px 0px;
  border-radius: 8px;
  margin-left: 25%;
  width: 50%;
  height: 50px;
  font-size: 2.3rem;
}
.aboutWho .pButton:hover {
  background: #fa9c9c;
}
@media (max-width: 600px) {
  .aboutWho .pButton {
    width: 100%;
    margin-left: 0%;
  }
}
.aboutYou {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
  max-width: 100vw;
  margin: 20px;
}
.aboutYou .youCard {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: column;
  margin: 20px;
  max-width: 100vw;
  min-width: 450px;
  width: 25%;
  height: 400px;
  background: #dcecf5;
  border-radius: 10px;
}
@media (max-width: 600px) {
  .aboutYou .youCard {
    min-width: 90%;
    width: 90%;
  }
}
.aboutYou .youCard h2 {
  color: #374785;
  border-bottom: 1px solid grey;
}
