// Footer Styles go Here!

footer {
  .display();
  height: 40px;
  width: 100%;
  position: static;
  bottom: 0;
  border-top: 1px solid grey;
  //max-width: 1000px;
  background-color: @darkestblue;

  .bottomNav {
    .display();
    width: 100%;
    max-width: 800px;

    .standardNav {
      .display();
      width: 100%;

      a {
        color: darkgrey;

        &:hover {
          color: white;
          text-decoration: underline;
        }
      }
    } // This closes the Bottom standardNav
  } // This closes the Bottom Nav Container
} // This closes the entire Footer