// Footer Styles go Here!

footer {
  .display();
  height: 40px;
  width: 100%;
  position: fixed;
  bottom: 0;
  border-top: 1px solid grey;
  //max-width: 1000px;
  background-color: @darkestblue;

  .bottomNav {
    .display();
    width: 100%;
    max-width: 800px;

    .standardNav {
      .display();
      width: 100%;

      a {
        color: darkgrey;

        &:hover {
          color: white;
          text-decoration: underline;
        }
      }
    } // This closes the Bottom standardNav

    .buttonBox {  
      .display();
      width: 30%;
      min-width: 200px;

      @media @phone {
        display: none;
      }

      .buttonA {
        .button();

        // @media @phone {
        //   width: 90%;
        //   height: 50px;
        //   font-size: 2.3rem;
        // }
      }
    } // This closes the button styles
  } // This closes the Bottom Nav Container
} // This closes the entire Footer