// Home page styles go Here!

.middle {
  text-align: center;

  h2 {
    color: @darkerblue;
  }
  
  img {
    width: 100%;
    border-radius: 10px;
    padding-bottom: 20px;
  }

  p {
    padding-top: 20px;
    border-top: 1px solid grey;
  }
}